// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$grey: #595959;
$navbar-default-toggle-hover-bg: #ffffff;

html, body {
  height: 100%;
  color: $grey;
  font-family: 'Lato';
}
